# Auto detect text files and perform LF normalization
* text=auto

# Remove language detection from external dependencies.
TheMissingSun/include/glad/* linguist-vendored
TheMissingSun/include/KHR/* linguist-vendored
TheMissingSun/tinyxml2.h linguist-vendored
TheMissingSun/src/glad.c linguist-vendored
TheMissingSun/src/tinyxml2 linguist-vendored
